@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root:hover {
  @nest & .meta .title {
    text-decoration: underline;
  }

  @media (--media-min-medium) {
    @nest & .leadMediaThumb {
      transform: translateX(1rem);
    }

    @nest & .textHolder {
      transform: translateX(1rem);
    }
  }
}

.inList {
  display: block;
  color: inherit;
  text-decoration: none;

  @media (--media-min-medium) {
    display: grid;
    grid-template-rows: auto 15rem;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0em;
  }
}

.inGrid {
  display: block;
  color: inherit;
  text-decoration: none;
}

.leadMediaThumb {
  grid-row-start: 2;
  position: relative;
  padding-bottom: 66.666%;
  margin: 0;
  background: var(--color-very-light-gray);

  transition: all 0.2s;

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.textHolder {
  position: relative;
  background: #f7f7f7;
  padding: 1rem;
  margin: 0;
  transition: all 0.2s;
}

.meta {
  grid-column: span 2;
  font-family: "Space Mono";
  padding-bottom: 1rem;
}

.postInfo {
  max-width: 36rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;

  @media (--media-min-medium) {
    font-size: 16px;
  }
}

.author {
  margin: 0;
  padding: 0;
  padding-right: 2rem;
}

.title {
  @media (--media-min-medium) {
    @nest .inList & {
      margin-top: 0;
    }
  }
}

.excerpt {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: var(--font-small-size);
  line-height: var(--font-base-line-height);
  line-clamp: 7;
  box-orient: vertical;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  color: black;
  display: -webkit-box;
  text-overflow: ellipsis;
  color: black;
  @nest & p {
    margin: 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}

.calendar {
  width: 1rem;
  height: 1rem;
}

.continue {
  font-size: 0.7rem;
  color: var(--color-gray);
  padding: 0;
  margin: 0;
  margin-top: 0.7rem;
  text-align: right;

  @media (--media-min-medium) {
    position: absolute;
    right: 0.7rem;
    bottom: 0.7rem;
  }
}
