@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  margin: 0;
}

.headline {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 2rem 0;
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 4em;
}

.browse {
  cursor: pointer;
  font-family: "Space Mono";
  color: white;
  display: block;
  width: 100%;
  padding: 1em 1.2em;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  background-color: transparent;
  @nest &:hover {
    color: #000000;
    background-color: #ffffff;
  }
  margin-top: 2rem;
}
