@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  text-align: center;
  margin: 2rem auto;
  padding: 4rem;
  max-width: 25rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile {
  width: 70%;
}

.heading {
  composes: responsiveTitle2 from "./typography.module.css";
  color: var(--color-accent);
  text-decoration: none;
}

.paragraph {
  composes: paragraph from "./typography.module.css";
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.topPostsList {
  font-size: 20px;
  font-family: "Space Mono";

  @nest & li {
    padding-bottom: 2rem;
  }
}

.link {
  text-decoration: none;
}